<nav class="navbar navbar-inverse navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Adiflash</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a href="#">Contact Us</a></li>
    
    </ul>
  </div>
</nav>


<div class="container">
  <div class="jumbotron">
    <h1>Adiflash Infotech</h1>      
    <p style="text-decoration:underline;font-weight:bold">Quality in everything we do!</p>
  </div>
    
</div>




<div class="container">
  <div class="jumbotron">
    
  
    <div class="row">
        <!-- Boxes de Acoes -->
    	<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-thumbs-o-up fa-5x"></i></div>
					<div class="info">
						<h3 class="title" style="text-decoration:underline;font-weight:bold">SCHNELL</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
						</p>
						<div class="more">
							<a href="#" title="Title Link">
								weiter lesen <i class="fa fa-angle-double-right fa-5x"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
			
        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-flag fa-5x"></i></div>
					<div class="info">
						<h3 class="title" style="text-decoration:underline;font-weight:bold">FLEXIBEL</h3>
    					<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
						</p>
						<div class="more">
							<a href="#" title="Title Link">
								weiter lesen <i class="fa fa-angle-double-right fa-5x"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
			
        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-desktop fa-5x"></i></div>
					<div class="info">
						<h3 class="title" style="">KOMPETENT</h3>
    					<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lobortis nisl, vitae iaculis sapien. Phasellus ultrices gravida massa luctus ornare. Suspendisse blandit quam elit, eu imperdiet neque semper.
						</p>
						<div class="more">
							<a href="#" title="Title Link">
								weiter lesen <i class="fa fa-angle-double-right fa-5x"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>		    
		<!-- /Boxes de Acoes -->
	</div>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
  <i class="fa fa-copyright fa-2x" aria-hidden="true"></i><p>Adiflash Infotech. All rights reserved</p>


</div>
  
</div>
